$colores: (
  stout: #4a3037,
  pale: #e7d84a,
  porter: #2f3732,
  dark: #080808,
  golden: rgb(255, 183, 0),
  letter: #ffffff,
  shadow: rgba(0, 0, 0, 0.5),
  fb_blue: #4267b2,
  fb_lightBlue: #00b2ff,
  fb_darkBlue: #006aff,
  ig_purple: #833ab4,
  ig_orange: #f77737,
  ig_lightYellow: #ffdc80,
);

$cervezas: (
  stout: #4a3037,
  pale: #e7d84a,
  porter: #2f3732,
);
